<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Arabic Dialect</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .bg {
            background-image: url('static/images/img1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .custom {
            background-color: #365E32;
            color: white;
        }
         .arabic-text {
            font-family: 'Arial', sans-serif;
            margin-left: 290px;
            margin-top: 80px;
        }
    </style>
</head>

<body class="bg">

    <div>
        <h1 style="color: #365E32;" class="arabic-text">إكتشاف اللهجة العربية</h1>
        <form action="/detect" method="post">
            <textarea style="display:block; margin-bottom: 10px; margin-left: 170px; margin-top: 50px; width: 500px; height: 200px;" name="text" rows="4"></textarea>
            <br>
            <button style="display:block; margin-left: 170px; width: 500px; font-family: 'Arial', sans-serif;" type="submit" class="btn custom">إكتشف</button>
        </form>
        <br>
        {% if dialect %}
        <h4 style="margin-left: 170px; padding-top: 15px; height: 50px; width: 500px; font-family: 'Arial', sans-serif; text-align: center; background-color: #F6DCAC;">{{ dialect }}</h4>
        {% endif %}
    </div>
</body>
</html>